<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gradient-to-br from-slate-50 to-blue-50 min-h-screen">

    <!-- Navbar -->
    <nav class="w-full bg-white/70 py-4 sticky top-0 z-50">
      <div class="max-w-5xl mx-auto flex justify-center items-center space-x-12">
        <div class="text-md flex space-x-6 backdrop-blur-xl shadow-xl w-1/6 justify-content-center text-center rounded-2xl px-4 py-2">
          <%= link_to "Dialer", root_path, class: "w-1/2 nav-link #{current_page?(root_path) ? 'font-bold' : 'text-gray-600 hover:text-blue-600'}" %>
          <%= link_to "Blogs", blogs_path, class: " w-1/2 nav-link #{current_page?(blogs_path) ? 'font-bold' : 'text-gray-600 hover:text-blue-600'}" %>
        </div>
      </div>
    </nav>

    <!-- Page content -->
    <%= yield %>

  </body>
</html>
